{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="mx-auto pt-3 col-md-3 pt-5 mt-5">
        <form class="form-signin" action="{% url 'login' %}" method="post">
            <h1 class="h3 mb-3 font-weight-normal">
                Let's log-in</h1>
            {% if form.errors %}
            <p>Your log in details weren't correct - try again!</p>
            {% else %}
            {% endif %}
            {{ form|crispy }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input class="btn btn-sm btn-info" type="submit" value="Log-in"></p>
        </form>
        <p>if you want to sign-up click here: <a class="btn btn-sm btn-info mt-2" href="{% url 'signup' %}">Sign up</a>
        </p>
    </div>
</div>

{% endblock %}