{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container pt-5 mt-5">
    <div class="mx-auto pt-3 col-lg-6">
        <form class="form-signin" method="post">
            <h1 class="h3 mb-3 font-weight-normal">Need to change your password?</h1>
            <p>Change your password details here:</p>
            {% if form.errors %}
            <p>That didn't work - try again!</p>
            {% else %}
            <p>Go back home <a class="btn btn-sm btn-info" href="{% url 'home' %}">click here</a>
            </p>
            {% endif %}
            {{ form|crispy }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input class="btn btn-sm btn-info" type="submit" value="Change my password!"></p>
        </form>
    </div>
</div>

{% endblock %}