{% extends 'FEEDBACK/base.html' %}

{% block title %}
{% endblock %}

{% block content %}

<!-- <h2>Need to change your password?</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="Change it!"></p>
</form> -->

<div class="container my-auto ">
    <form class="form-signin" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Need to change your password?</h1>
            <p>Add or change your profile details here:</p>
            {{ form.as_p }}
            {% csrf_token %}
        <p><input type="submit" value="Change it!"></p>
    </form>
</div> 

{% endblock %}