{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container pt-5 mt-5">
    <div class="mx-auto pt-3 col-md-6">
        <form class="form-signin" name="UserSignUp" method="post">
            <h1 class="h3 mb-3 font-weight-normal">
                Sign Up Here!</h1>
            {{ signup_form|crispy }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Complete your profile details"></p>
        </form>
    </div>
</div>

{% endblock %}