{% extends 'FEEDBACK/base.html' %}

{% block title %}
Congrats {{ teen_user.username }} - Your Sign Up was successful!
{% endblock %}

{% block content %}

<div class="container my-auto">
        <h1 class="h3 mb-3 font-weight-normal">
        Congrats {{ teen_user.username|capfirst }} - Your Sign Up was successful!</h1>
        <h3>Please complete your profile details before proceeding to the feedback page</h3>
        <h2><a href="{% url 'edit' %}">Profile details</a></h2>
        <br>
        <p>We require your medical id for your profile</p>
        <p>This is for safeguarding purposes only</p>
</div> 

{% endblock %}