{% extends 'FEEDBACK/base.html' %}

{% block title %}
{{ feedback.title }}
{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
        <div>
            <h1>{{ feedback.title }}</h1>
            <p class="date">
                Feedback {{ feedback.published }} by {{ feedback.author }}
            </p>
            {{ feedback.content|linebreaks }}

            <p>
                {% if request.user == feedback.author %}
                <a href="feedback_edit/{{ feedback_id }}">
                    <button>Edit</button>
                    <a href="delete_feedback/{{ feedback_id }}">
                        <button>Delete</button>
                {% endif %}
                </a>
            </p>

            {% with feedback_reply.count as total_feedback_reply %}
                <h2>
                    {{ total_feedback_reply }} Feedback comment{{ total_feedback_reply|pluralize }}
                </h2>
            {% endwith %}
            
            {% for reply in feedback_reply %}
            <div>
                <p>
                    Reply {{ forloop.counter }} by {{ reply.author }}
                    {{ reply.reply_made }}
                </p>
                {% if request.user.username == reply.author %}
                <p>{{ reply.content }}</p>
                <a href="reply_edit/{{ reply_id }}">
                    <button>Edit</button>
                </a>
                {% else %}
                <p>{{ reply.content }}</p>
                {% endif %}
            </div>

            {% empty %}
                <p>there are no replies yet</p>
                
            {% endfor %}
            
        
        {% include "FEEDBACK/feedback/includes/reply_form.html" %}

        {% comment %}
        # <button><a href="{ 'FEEDBACK/' }">Reply</a></button>
        {% include "FEEDBACK/feedback/includes/reply_form.html" %}
        {% endcomment %}

        </div>

    {% else %}
    <p>you do not have permission to view this page</p>
    {% endif %}

{% endblock content %}