{% extends 'FEEDBACK/base.html' %}

{% block title %}
Submit your feedback here!
{% endblock %}

{% block content %}

<div class="container my-auto">
    {% if request.user.is_authenticated %}
        <div>
            <h2>Add your feedback here:</h2>
            {% if submitted %}
            Your feedback was submitted & is awaiting approval
            {% else %}
            <form class="form-signin" action="{% url 'FEEDBACK:feedback_submission' %}", method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Submit Feedback"></p>
            </form>
            {% endif %}
        </div>
    {% else %}
    <p>you do not have permission to view this page</p>
    {% endif %}
</div>

{% endblock content %}