/* Body style---------------------------- */
.main {
  min-height: 100vh;
  height: 100%;
}

.body-custom {
  background-color: rgb(252, 249, 243);
}

h3 {
  color: rgb(123, 13, 20);
}

.callout-heading {
  font-style: italic;
}

li {
  font-size: larger;
}

.btn {
  color: black;
}

/* Header style--------------------------- */
.header-custom {
  background-color: rgb(196, 196, 196);
}

/* Nav buttons style------------------------ */
.btn-custom {
  width: 100px;
}

.active {
  font-weight: 900;
}

.custom-list {
  list-style: none;
}

/* Messages style---------------------------- */

.msg-position {
  position: absolute;
  right: 0;
  z-index: 1;
}


/* Carosel style----------------------------- */
.carosel-custom {
  background-color: rgb(102, 155, 188);
}

/* Feedback style------------------------------ */
.post-descriptor {
  font-style: italic;
}

/* Sticky footer style------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 30px;
}
