{% extends 'blog/base.html' %}

{% block content %}

<div class="container">
    <div class="mx-auto pt-3 col-lg-9">
        <div class="mb-3 mt-3">
            <h1>ABOUT</h1>
        </div>
        <hr class="featurette-divider">
        <div>
            <h2>What is an AYA?</h2>
            <p> AYAs are adolescent and young adults. This includes people aged 13 -24.
            </p>
            <p>AYAs have very different needs to children or adults, due to...
            </p>
            <hr class="featurette-divider">
        </div>
        <div>
            <h2>What is an AYA teen room?</h2>
            <p>Teen rooms are dedicated lounge rooms solely for AYA cancer patients</p>
            <p>Located on the ward, they give AYAs a space to hangout away from their rooms, in an area tailored to AYA
                interests & needs</p>
            <hr class="featurette-divider">
        </div>
        <div>
            <h2>What is the AYA service?</h2>
            <p>We are a specialist service dedicated to managing the treatment of all AYAs diagnosed with cancer across
                Ireland.
            </p>
            <p>We help to ensure all AYA patients have equal access to the most up-to-date treatments, and access to all
                the other supports you might need, such as:
            <ul>
                <li>Education/Employment advice</li>
                <li>Mental well-being</li>
                <li>Referrals to allied health services such as physiotherapy, dieticians, social workers, music therapy
                    etc</li>
                <li>Shared care between hospitals so you can stay closer to home whenever possible</li>
                <li>Help during transition to adult services</li>
                <li>Survivorship supports</li>
            </ul>
            </p>
            <hr class="featurette-divider">
        </div>
        <div>
            <h2>Why do I have to sign in to see or give feedback?</h2>
            <p>This is a safe space for teen room users to express their views without worrying who might read them</p>
            <p>You can be anonymous by choosing your own username however...</p>
            <p>We ask for you medical ID on sign-up just in case we get worried about a post content, so we can follow
                up for safety reasons. This might seem silly but the hospital makes us do it... honest!</p>
            <hr class="featurette-divider">
        </div>
        <div>
            <h2>Where do I find out more?</h2>
            <p>For more information on the AYA Cancer Service:
                <a href="https://www.hse.ie/eng/services/list/5/cancer/about/nccp-children-adolescent-young-adult-caya-cancer-programme/the-nccp-children-adolescent-and-young-adult-caya-cancer-programme.html"
                    target="_blank">NCCP</a>
            </p>
            <p>CHI Crumlin - the home base for the National AYA Service:
                <a href="https://www.childrenshealthireland.ie/">CHI</a>
            </p>
            <p>Read all about how the first teen room got started in Ireland:
                <a
                    href="https://www.independent.ie/irish-news/donals-legacy-lives-on-in-teen-room-for-cancer-patients/29515243.html">Where
                    did it start?</a>
            </p>
            <hr class="featurette-divider">
        </div>
        <h2>Contact Us</h2>
        <p>For queries about the AYA Service or any of our teen rooms, email: ayac.admin@blog.com
        </p>
        <hr class="featurette-divider">
    </div>
</div>

{% endblock content %}