{% extends 'blog/base.html' %}

{% block content %}

<div class="container pt-5 mt-5">
  <div class="mx-auto pt-3 col-md-6 text-center">
    <form method="POST">
      {% csrf_token %}
      <h1>Do you really want to delete your comment???</h1>
      <br>
      <input class="btn btn-danger mb-3" type="submit" value="YES - DELETE IT!" />
    </form>

    <a href="{% url 'blog:feedback_list' %}">
      <button class="btn btn-sm btn-info">Oops No!!</button>
    </a>
  </div>
</div>

{% endblock content %}