{% extends 'blog/base.html' %}

{% block content %}

{% comment %}
https://www.arbcoms.com/19-how-to-delete-data-in-django-with-confirm-delete-prompt/
{% endcomment %}

<div class="container pt-5 mt-5">
  <div class="mx-auto pt-3 col-md-6 text-center">
    <form method="POST">
      {% csrf_token %}
      <h3>Do you really want to delete your feedback?</h3>
      <br>
      <input class="btn btn-danger mb-3" type="submit" value="YES - DELETE IT!" />
    </form>

    <a href="{% url 'blog:feedback_list' %}">
      <button class="btn btn-success">Oops No!!</button>
    </a>
  </div>
</div>

{% endblock content %}