{% extends 'blog/base.html' %}

{% block content %}

<div class="container">
{% if request.user.is_authenticated %}
<div>
    <div class="mx-auto pt-3 col-lg-6">
        <h1>TEEN ROOM FEEDBACK</h1>
    </div>
    <div class="mx-auto col-lg-6">
        {% for feedback_post in ok_feedback %}
        <h2>
            <a href="{% url 'blog:feedback_detail' feedback_post.slug %}">
                {{ feedback_post.title }}
            </a>
        </h2>
        <p class="date">
            Feedback {{ feedback_post.published }} by {{ feedback_post.author }}
        </p>
        {{ feedback_post.content|truncatewords:20|linebreaks }}
        <hr class="featurette-divider">
        {% empty %}
            <p>Sorry, no approved feedback just yet!</p>
        {% endfor %}
    </div>
</div>
{% else %}
    <p>you do not have permission to view this page</p>
{% endif %}
</div>

{% endblock content %}