{% extends 'blog/base.html' %}

{% block title %}
{{ feedback.title }}
{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
        <div>
            <h1>{{ feedback_post.title }}</h1>
            <p class="date">
            Feedback {{ feedback_post.published }} by {{ feedback_post.author }}
            </p>
            {{ feedback_post.content|linebreaks }}

            <p>
                {% if request.user == feedback.author %}
                <a href="blog/feedback_edit/{{ feedback_id }}">
                    <button>Edit</button>
                    <a href="blog/delete_feedback/{{ feedback_id }}">
                    <button>Delete</button>
                {% endif %}
                </a>
            </p>

        
        </div>

    {% else %}
    <p>you do not have permission to view this page</p>
    {% endif %}

{% endblock content %}