{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container mx-auto pt-3 col-lg-6 pt-5 mt-5">
    {% if request.user.is_authenticated %}
    <div>
        <h2>Edit your feedback here:</h2>
        {% if submitted %}
        Your feedback was submitted & is awaiting approval
        {% else %}
        <form method="post">
            {{ form|crispy }}
            {% csrf_token %}
            <p><input type="submit" value="Update feedback">
            </p>
        </form>
        {% endif %}
    </div>
    {% else %}
    <p>you do not have permission to view this page</p>
    {% endif %}
</div>

{% endblock content %}