{% extends 'blog/base.html' %}

{% block content %}

<!-- Home page hero section -->
<div class="d-flex align-items-center pt-5 mt-5">
  <div class="container mt-3">
    <div class="row">
      <div class="col-lg-5 pt-5 ml-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>AYA TEEN ROOM</h1>
        <br>
        <h2>Are you a teen room user?</h2>
        <br>
        <h3 class="callout-heading">We want your feedback!</h3>
        <br>
        <p>Help to make the rooms more awesome for you and the rest of the teen room community</p>
        <p>Give us your thoughts about the teen room facilities... all in a secure web-space!</p>
        {% if not request.user.is_authenticated %}
        <div class="d-flex">
          <a href="{% url 'signup' %}" class="btn btn-sm btn-info">Sign Up!</a>
        </div>
        {% endif %}
      </div>
      <div class="order 1 order-lg-2 hero-img mx-auto">
        <img
          src="https://res.cloudinary.com/dnmn5vxkm/image/upload/v1693412498/aya-teen-room/pexels-anastasia-shuraeva-8075937_xs_fm34pz.jpg"
          alt="two cool teens standing in a white teen room">
      </div>
    </div>
  </div>
</div>

<!-- Home About carousel -->
<div>
  <hr class="featurette-divider">
  <div id="demo" class="carousel slide carosel-custom" data-ride="carousel">

    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <div class="carousel-inner py-5 text-center">
      <div class="carousel-item active py-3">
        <h3>What are teen rooms?</h3>
        <p>Teen rooms are dedicated lounge rooms solely for AYA cancer patients (age 13-24)</p>
        <p>Located on the ward, they give AYAs a space to hangout away from their rooms, in an area tailored to AYA
          interests & needs</p>
      </div>
      <div class="carousel-item py-3">
        <h3>Why do we want your feedback?</h3>
        <p>We are dedicated to listening to you and taking your needs into account - we apply this to everything we do
        </p>
        <p> - your opinion matters</p>
        <p>We read & reply to all feedback given, then do our best to put it into action</p>
      </div>
      <div class="carousel-item py-3">
        <h3>Why do I have to login to see/give feedback?</h3>
        <p>This is a safe space for teen room users to express their views without worrying who might read them</p>
        <p>You can be anonymous however...</p>
        <p>We ask for you medical ID on sign-up just in case we get worried about a post content, so we can follow up
          for safety reasons</p>
      </div>

      <a class="carousel-control-prev" title="next slide" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" title="next slide" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
  </div>
</div>

<!-- Home page teen room featurettes -->
<div>
  <div class="container">
    <hr class="featurette-divider">
    <div class="row-featurette d-flex">
      <div class="my-auto col-md-7 justify-content-center pl-lg-5">
        <h2 class="featurette-heading">CHI Crumlin
          <br>
          <span class="text-muted">St John's Ward</span>
        </h2>
          <ul class="lead">
            <li>Large screen tv with SkyTv</li>
            <li>Playstation 5 with selection of games</li>
            <li>Foosball table</li>
            <li>Study area</li>
          </ul>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto"
          src="https://res.cloudinary.com/dnmn5vxkm/image/upload/v1693413528/aya-teen-room/pexels-roberto-nickson-2659629_sm_5_j5o4an.jpg"
          alt="cosy red room with netflix" style="width: 500px; height: 400px" data-holder-rendered="true">
      </div>
    </div>
  </div>

  <div class="container">
    <hr class="featurette-divider">
    <div class="row-featurette d-flex">
      <div class="my-auto col-md-7 justify-content-center order-md-2 pr-lg-5">
        <div class="container ml-lg-5 pl-lg-5">
          <h2 class="featurette-heading">St James's
            <br>
            <span class="text-muted">Mary Ward</span>
          </h2>
          <ul class="lead">
            <li>Large screen tv with Netflix</li>
            <li>Beanbags</li>
            <li>Soft play darts board</li>
            <li>Study area</li>
            <li>Desktop PC with gaming headset</li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto"
          src="https://res.cloudinary.com/dnmn5vxkm/image/upload/v1693413500/aya-teen-room/pexels-medhat-ayad-439227_sm_5_l3wjcg.jpg"
          alt="beige room with bed and computer" style="width: 500px; height: 400px" data-holder-rendered="true">
      </div>
    </div>
  </div>

  <div class="container">
    <hr class="featurette-divider">
    <div class="row-featurette d-flex">
      <div class="my-auto col-md-7 justify-content-center pl-lg-5">
        <h2 class="featurette-heading">Galway
          <br>
          <span class="text-muted">Falcon Ward</span>
        </h2>
        <ul class="lead">
          <li>Large screen tv with Prime</li>
          <li>Snack drawer</li>
          <li>X-box one with selection of games</li>
          <li>Study area</li>
        </ul>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto"
          src="https://res.cloudinary.com/dnmn5vxkm/image/upload/v1693413514/aya-teen-room/pexels-pixabay-271816_sm_5_gwu26h.jpg"
          alt="blue room with drawers and colourful painting" style="width: 500px; height: 400px" data-holder-rendered="true">
      </div>
    </div>
  </div>

  <div class="container">
    <hr class="featurette-divider">
    <div class="row-featurette d-flex">
      <div class="my-auto col-md-7 justify-content-center order-md-2 pr-lg-5">
        <div class="container ml-lg-5 pl-lg-5">
          <h2 class="featurette-heading">Cork
            <br>
            <span class="text-muted">Snowbuds Ward</span>
          </h2>
          <ul class="lead">
            <li>Large screen tv with Netflix</li>
            <li>Beanbags</li>
            <li>Pool table</li>
            <li>Hot drink machine</li>
          </ul>
        </div>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto"
          src="https://res.cloudinary.com/dnmn5vxkm/image/upload/v1693413474/aya-teen-room/pexels-pixabay-271618_sm_5_nmgxpm.jpg"
          alt="cream room with lounge bed and padded benches" style="width: 500px; height: 400px" data-holder-rendered="true">
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
</div>

{% endblock content %}