{% extends 'blog/base.html' %}

{% block content %}

<!-- Home page hero section -->
<section class="d-flex align-items-center">
  <div class="container mt-3">
    <div class="row">
      <div class="col-lg-5 pt-5 ml-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <h1>AYA TEEN ROOM</h1>
        <br>
        <h3>Are you a teen room user?</h3>
        <h2>We want your feedback!</h2>
        <br>
        <p>Help to make the rooms more awesome for you and the rest of the teen room community</p>
        <p>Give us your thoughts about the teen room facilities... all in a secure web-space!</p>
        {% if not request.user.is_authenticated %}
        <div class="d-flex">
          <a href="{% url 'signup' %}" class="btn-get-started">Sign Up!</a>
        </div>
        {% endif %}
      </div>
      <div class="order 1 order-lg-2 hero-img mx-auto">
        <img
          src="https://res.cloudinary.com/dnmn5vxkm/image/upload/v1693412498/aya-teen-room/pexels-anastasia-shuraeva-8075937_xs_fm34pz.jpg"
          alt="two cool teens standing in a white teen room">
      </div>
    </div>
  </div>
</section>

<!-- Home About carousel -->
<section>
  <hr class="featurette-divider">
  <div id="demo" class="carousel slide carosel-custom" data-ride="carousel">

    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <div class="carousel-inner py-5 text-center">
      <div class="carousel-item active py-3">
        <h3>What are teen rooms?</h3>
        <p>describe what the rooms are and who uses them</p>
        <p>more words go here....</p>
      </div>
      <div class="carousel-item py-3">
        <h3>Why do we want your feedback?</h3>
        <p>so we can listen to the users</p>
        <p>and make the room even better</p>
      </div>
      <div class="carousel-item py-3">
        <h3>why is it private?</h3>
        <p>This should be a safe space for teen room users</p>
        <p>to express their needs etc etc</p>
      </div>

      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>

    </div>
</section>

<!-- Home page teen room featurettes -->
<section>

  <div class="container">
    <hr class="featurette-divider">
    <div class="row-featurette d-flex">
      <div class="col-md-7 justify-content-center">
        <h2 class="featurette-heading">CHI Crumlin
          <span class="text-muted">Another heading?</span>
        </h2>
        <p class="lead">Here is the text explaining what's great about this room</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto"
          src="https://res.cloudinary.com/dnmn5vxkm/image/upload/v1693413528/aya-teen-room/pexels-roberto-nickson-2659629_sm_5_j5o4an.jpg"
          alt="#" style="width: 500px; height: 50" data-holder-rendered="true">
      </div>
    </div>
  </div>

  <div class="container">
    <hr class="featurette-divider">
    <div class="row-featurette d-flex">
      <div class="col-md-7 justify-content-center order-md-2">
        <h2 class="featurette-heading">St James's
          <span class="text-muted">Another heading?</span>
        </h2>
        <p class="lead">Here is the text explaining what's great about this room</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto"
          src="https://res.cloudinary.com/dnmn5vxkm/image/upload/v1693413500/aya-teen-room/pexels-medhat-ayad-439227_sm_5_l3wjcg.jpg"
          alt="#" style="width: 500px; height: 50" data-holder-rendered="true">
      </div>
    </div>
  </div>

  <div class="container">
    <hr class="featurette-divider">
    <div class="row-featurette d-flex">
      <div class="col-md-7 justify-content-center">
        <h2 class="featurette-heading">Galway
          <span class="text-muted">Another heading?</span>
        </h2>
        <p class="lead">Here is the text explaining what's great about this room</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" src="https://res.cloudinary.com/dnmn5vxkm/image/upload/v1693413514/aya-teen-room/pexels-pixabay-271816_sm_5_gwu26h.jpg" alt="#" style="width: 500px; height: 50" data-holder-rendered="true">
      </div>
    </div>
  </div>

  <div class="container">
    <hr class="featurette-divider">
    <div class="row-featurette d-flex">
      <div class="col-md-7 justify-content-center order-md-2">
        <h2 class="featurette-heading">Cork
          <span class="text-muted">Another heading?</span>
        </h2>
        <p class="lead">Here is the text explaining what's great about this room</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto"
        src="https://res.cloudinary.com/dnmn5vxkm/image/upload/v1693413474/aya-teen-room/pexels-pixabay-271618_sm_5_nmgxpm.jpg" alt="#" style="width: 500px; height: 50" data-holder-rendered="true">
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
</section>

{% endblock content %}