{% load static %}

<!-- https://stackoverflow.com/questions/39639264/django-highlight-current-page-in-navbar -->
<header>
  {% with url_name=request.resolver_match.url_name %}
  <nav class="navbar fixed-top navbar-expand-md navbar-light header-custom">
    <div class="align-items-center">
      <a class="navbar-brand" href="{% url 'home' %}">
        {% if request.user.is_authenticated %}
        <p class="mt-3">Hi there, <strong>{{ request.user.username|capfirst}}</strong></p>
        {% else %}
        <p class="mt-3">Hi there, <strong>Stranger!</strong></p>
        {% endif %}
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04"
      aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04" role="navigation">
      {% if request.user.is_authenticated %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if url_name == 'home' %}active{% endif %}">
          <a class="nav-link" href="{% url 'home' %}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if url_name == 'about' %}active{% endif %}">
          <a class="nav-link" href="{% url 'blog:about' %}">About</a>
        </li>
        <li class="nav-item {% if url_name == 'feedback_list' %}active{% endif %}">
          <a class="nav-link" href="{% url 'blog:feedback_list' %}">View Feedback</a>
        </li>
        <li class="nav-item {% if url_name == 'feedback_submission' %}active{% endif %}">
          <a class="nav-link" href="{% url 'blog:feedback_submission' %}">Submit Feedback</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">Account</a>
          <menu class="dropdown-menu" aria-labelledby="dropdown04">
           <li><a class="dropdown-item" href="{% url 'edit' %}">Edit Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a></li>
          </menu>
        </li>
      </ul>
      <menu class="btn btn-outline-primary">
       <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
      </menu>
      {% else %}
      <menu class="navbar-nav mr-auto">
        <li class="nav-item {% if url_name == 'home' %}active{% endif %}">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if url_name == 'about' %}active{% endif %}">
          <a class="nav-link" href="{% url 'blog:about' %}">About</a>
        </li>
      </menu>
      <menu class="navbar-nav ml-auto mr-3">
        <li class="nav-item btn btn-custom btn-outline-primary mr-3">
          <a class="nav-link" href="{% url 'login' %}">Log In</a>
        </li>
        <li class="nav-item btn btn-custom btn-outline-primary">
          <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
        </li>
      </menu>
      {% endif %}
    </div>
  </nav>
  {% endwith %}
</header>
