{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AYA Teen Room Home Page</title>
</head>

<header style="background-color: lightblue">
    <h2>{% block title %}{% endblock %}This is the header</h2>
    <!-- <div>
        {% if request.user.is_authenticated %}
            <ul>
              <li {% if section == "feedback" %} class="selected"{% endif %}>
                <a href="{% url 'feedback' %}">Here is a personal dashboard</a>
              </li>
            </ul>
        {% endif %}
    </div> -->
    <div>
        {% if request.user.is_authenticated %}
            Hi there, {{ request.user.username|capfirst}}, <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <p>Hi there, Stranger!</p>
            <a href="{% url 'login' %}">Log in</a>
            <p>Sign up here:</p>
            <a href="{% url 'signup' %}">Sign up</a>
        {% endif %}
    </div>
</header>

<body>
    <div style="background-color: yellowgreen">   
        {% block content %}
        {% endblock %}
    </div>
</body>

<footer style="background-color: pink">
    <h2>This is the footer</h2>
</footer>
</html>