{% extends 'FEEDBACK/base.html' %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">AYA TEEN ROOM</h1>
    <p class="lead">Find out what the AYA Teen Room is all about.</p>
         <p class="lead"></p>Sign up to see our events, give us feedback to help us make the rooms even better, and be part of our community!</p>
  </div>

<div class="container">
    <div class="d-flex flex-column">
        <h1>Home page body section</h1>
        <p>user can see image of teen Room</p>
        <p>user can register</p>
        <p>user can log in</p>
        <p>user can see link for about page</p>
        <p>user can see link for feedback - must be logged in to view; gets warning if tries to navigate there without logging in</p>
        </div>
</div>

{% endblock content %}