{% extends 'FEEDBACK/base.html' %}

{% block title %}
Here be the feedback
{% endblock %}

{% block content %}
{% if request.user.is_authenticated %}
<div>
    <h1>TEEN ROOM FEEDBACK</h1>
    {% for feedback in ok_feedback %}
    <h2>
        <a href="{{ feedback.get_absolute_url }}">
            {{ feedback.title }}
        </a>
    </h2>
    <p class="date">
        Feedback {{ feedback.published }} by {{ feedback.author }}
    </p>
    {{ feedback.content|truncatewords:20|linebreaks }}
    {% empty %}
        <p>Sorry, no approved feedback just yet!</p>
    {% endfor %}
</div>
{% else %}
    <p>you do not have permission to view this page</p>
{% endif %}
{% endblock content %}